.container{
    margin:0.5rem;
    display:flex;
    width: calc(100% - 1rem);
    height: 5rem;
    padding:0.1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    cursor: pointer;
}
.imageholder{
    height: 100%;
    width:7rem;
}
.textholder{
    height: 100%;
    width:100%;
    padding:0.1rem 0.5rem;
}
.textholder h3{
    margin: 0;
    margin-top:0.1rem;
    text-align: left;

}
.textholder p{
    margin: 0;
    text-align: left;
    font-size: 0.8em;
}

.container:hover{
    display:flex;
    align-items:left;
    width: calc(100%-0.5rem);
    height: 5rem;
    padding:0.1rem;
    background-image: linear-gradient(to left, rgba(84, 164, 239, 0.666), rgba(255,255,255,1));
    box-shadow: 8px 8px 8px 3px rgb(0 0 0 / 20%), 10px 1px 10px 5px rgb(0 0 0 / 20%);
    text-shadow: 1px 1px 1px #00f;
}
