.container{
    margin:0.5rem;
    display:flex;
    width: calc(100% - 1rem);
    height: 5rem;
    padding:0.1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to left, rgba(142, 0, 251,0.99), rgba(188, 10, 220, 0.66), rgba(213, 101, 185, 0.364));
    border-radius: 1rem;
    color: rgb(93, 2, 162);
    cursor: pointer;
}
.imageholder{
    height: 100%;
    width:6rem;
    padding: 0.2rem 0.3rem 0 0.3rem;
}
.imageholder img{
    height: calc(100% - 0.3rem);
    width: calc(100% - 0.6rem);
}
.textholder{
    padding:0.2rem 0.5rem;
    width: calc(100%  - 14rem);
}
.options{
    height: 100%;
    width:5rem;
    padding:0rem 0.5rem;
}
.opimg{
    height: 100%;
    width:100%;
    padding:0rem 0 0 0.5rem;
    background-image: url(../images/person2.png);
    background-repeat: no-repeat;
    background-size: 80px 80px;
}
.textholder h2{
    margin: 0.4rem 0 0 0;
    text-align: left;
}
.textholder p{
    margin: 0;
    text-align: left;
    font-size: 0.8em;
}

.container:hover{
    background-image: linear-gradient(to left, rgba(100, 7, 187, 0.666), rgba(255,255,255,1));
}

@media screen and (max-width: 760px) {
    .container{
        margin:0.5rem;
        display:flex;
        width: calc(100% - 1rem);
        height: 5rem;
        padding:0.1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-image: linear-gradient(to left, rgba(154, 71, 218, 0.99), rgba(161, 95, 173, 0.66), rgba(188, 10, 220, 0.33), rgba(213, 101, 185, 0.364));
        border-radius: 1rem;
        color: rgb(93, 2, 162);
        cursor: pointer;
    }
    
    .imageholder{
        height: 100%;
        width:5rem;
        padding: 0.3rem 0.2rem 0 0.3rem;
    }
    .textholder h2{
        margin: 0.4rem 0 0 0;
        text-align: left;
        font-size:1.5em;
    }
    .textholder p{
        font-weight: 550;
    }
    .textholder{
        padding:0.2rem 0.0rem 0.2rem 0.8rem;
        width: calc(100%  - 9rem);
    }
    .imageholder img{
        height: calc(90%);
        width:calc(100%);
    }
    .options{
        display:flex;
        height: 100%;
        width:2rem;
        padding:0rem 0rem;
    }
    .opimg{
        height: 50%;
        align-self: center;
        background-image: url(../images/vdot.svg);
        width:100%;
        padding:0rem 0rem 0 0rem;
        background-repeat: no-repeat;
        background-size: 40px 40px;
  }
}